<header class="topbar">
  <div class="logo">
    <img src="/assets/image/a.png" alt="logo" class="logo-img" />
    <h1 class="logo-text">DADO</h1>
  </div>
  <div class="search">
    <input type="text" placeholder="Tìm trong file" class="search-input" />
    <i class="fas fa-search search-icon"></i>
  </div>
  <div class="dropdown setting">
    <button class="dropbtn"><i class="fas fa-cog"></i></button>
    <div class="dropdown-content">
      <a href="#">Cài đặt</a>
      <a href="#">Hỗ trợ</a>
    </div>
  </div>
  <div class="user">
    <img src="/assets/image/img.jpg" alt="user" class="user-img" />
    <button class="dropbtn"><i class="fas fa-angle-down"></i></button>
    <div class="dropdown-content">
      <a href="#">Info</a>
      <a href="#">Logout</a>
    </div>
  </div>
</header>
